.cardprenota {
  margin-top: 30px;
}

.cardprenota .box-title-card-prenota {
  width: 100%;
  height: 100px;
  background-color: #860a0a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardprenota .title-prenota {
  font-size: 35px;
}

.cardprenota .form {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0 10px 30px 10px;
  background-color: rgb(255, 255, 255);
  z-index: 0;
}

.cardprenota .box-input {
  display: flex;
  flex-direction: column;
  width: calc(50% - 10px);
}
.cardprenota .select {
  height: 37px;
}
.cardprenota .box-input100 {
  width: 290px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  padding: 5px;
  border-radius: 5px;
  border: gray solid 2px;
}
.cardprenota .box-input-messaggi{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  padding: 5px;
}

.cardprenota textarea{
  padding: 5px;
  border-radius: 5px;
  border: gray solid 2px;
  font-family: "Inter", sans-serif;
}
.cardprenota .mex {
  height: 100px;
}

.cardprenota .input {
  width: 140px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  padding: 5px;
  border-radius: 5px;
  border: gray solid 2px;
}

label {
  font-size: 15px;
  color: #860a0a;
  font-family: "Inter", sans-serif;
  margin-top: 30px;
  margin-bottom: 3px;
  font-weight: 600;
}
.cardprenota .box-invia {
  width: 100%;
  display: flex;
  justify-content: center;
}
.cardprenota .messaggi {
  font-size: 18px;
  font-family: "Inter", sans-serif;
}
.cardprenota .invia {
  background-color: #860a0a;
  color: white;
  padding: 20px 30px;
  border-radius: 5px;
  margin-top: 30px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}

.cardprenota .box-messaggio {
  width: 100%;
  height: 400px;
  background-color: #fdd4d4;
  position: absolute;
  top: 1088px;
  left: 0;
  border: #860a0a solid 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.cardprenota .text-messaggio {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cardprenota .box-button-messaggio {
  width: 100%;
  height: 68px;
}

.cardprenota .button-whatsapp {
  width: 60px;
  height: 60px;
}

.cardprenota .x-messaggio {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.cardprenota input:disabled{
  background-color: gray;
}

@media screen and (min-width: 1025px) {
  .cardprenota {
    width: 1024px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .cardprenota .box-title-card-prenota {
    border-radius: 20px 20px 0 0;
    margin-top: -130px;
  }

  .cardprenota .form {
    padding: 0 30px 30px 30px;
    border-radius: 0 0 20px 20px;
  }
 
}
